div#MainScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  width: 120%;
  background-size: cover;

  div.frame {
    width: 29%;
    height: 75%;
    display: flex;
    background-color: gainsboro;
    justify-content: space-around;
    align-items: center;
    margin-top: -90px;
    border-radius: 40px;

    img.panelopen {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 -30%;
    }
    div.switches {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      width: 70%;
    }
    div.button {
      width: 15%;
    }
  }
}
