div#MainScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  div.frame {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img.panelopen {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 -30%;
    }
    div.switches {
      display: flex;
      width: 70%;
      height: 80%;
      margin-top: 1.1%;
      flex-direction: column;
      justify-content: center;
      .row {
        display: flex;
        height: 50%;
        align-items: center;
        justify-content: center;
      }
    }
    div.button {
      width: 10%;
      margin-left: -4%;
      aspect-ratio: 1;
      cursor: pointer;
    }
  }
}

div.standard div#MainScreen div.frame div.switches {
  margin-top: 1.2%;
  margin-left: -2%;
}

div.standard div#MainScreen div.frame div.button {
  margin-top: 1.2%;
  margin-left: -6%;
}

div.retro div#MainScreen div.frame div.switches {
  height: 83%;
  margin-top: -3.5%;
}

div.retro div#MainScreen div.frame div.button {
  margin-top: -3.5%;
  margin-left: -5%;
}

div.futuristic div#MainScreen div.frame div.switches {
  width: 65%;
  height: 80%;
  margin-top: 1%;
  margin-left: 2%;
}

div.futuristic div#MainScreen div.frame div.button {
  margin-top: 1%;
  margin-left: -7.5%;
}
